@charset "UTF-8";
/* 包括部分 */
body {
  font-family: "メイリオ", "Meiryo", "Yu Gothic Medium", "游ゴシック Medium", "Yugothic", "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
}

.wrapper {
  max-width: 1260px;
  margin: 0 auto;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .wrapper {
    max-width: 580px;
    width: 94%;
  }
}

/* 灰色文字 */
.gray-text {
  font-size: 20px;
  color: #5a5a5a;
  margin-top: -30px;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .gray-text {
    font-size: 14px;
    margin-bottom: 5px;
  }
}

/* 縦並び */
.block {
  display: block;
  text-align: left;
}

/* チェックボックス */
input[type=checkbox] {
  transform: scale(2);
  margin: 0 6px 0 0;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  input[type=checkbox] {
    transform: scale(1);
  }
}

/* テーブル */
tbody:nth-child(even) {
  background-color: #ffffff;
}
tbody:nth-child(odd) {
  background-color: #DEDEDE;
}

/* ヘッダー部分 */
.page-header {
  text-align: center;
}
.page-header__img {
  width: 100%;
}
.page-header__profile {
  display: none;
  align-items: flex-end;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .page-header__profile {
    display: flex;
    margin-top: 30px;
  }
  .page-header__profile__img {
    width: 82px;
    height: 82px;
    vertical-align: top;
  }
  .page-header__profile__name {
    font-size: 16px;
    margin-left: 2vw;
  }
  .page-header__profile__text {
    font-size: 10px;
    margin-left: 2vw;
  }
  .page-header__profile__sns {
    font-size: 10px;
    text-align: left;
    margin-left: 2vw;
  }
}
.page-header__nav {
  list-style: none;
  margin: 45px auto;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .page-header__nav {
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: left;
    height: 12px;
  }
}
.page-header__nav__list {
  font-size: 20px;
  display: inline-block;
  margin-right: 25px;
  /* menuナビの一番後ろに入れる装飾 */
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .page-header__nav__list {
    margin-right: 10px;
  }
}
.page-header__nav__list:last-child {
  margin-right: 0px;
}
.page-header__nav__list img {
  margin-right: 5px;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .page-header__nav__list img {
    display: none;
  }
}
.page-header__nav__list p {
  display: inline-block;
  position: relative;
  bottom: 10px;
  color: #000000;
  transition: color 300ms;
}
.page-header__nav__list p:hover {
  color: #5a5a5a;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .page-header__nav__list p {
    font-size: 14px;
  }
}
.page-header__edit, .page-header__login, .page-header__password, .page-header__list {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .page-header__edit, .page-header__login, .page-header__password, .page-header__list {
    margin: 15px 0 10px 0;
  }
}
.page-header__edit img, .page-header__login img, .page-header__password img, .page-header__list img {
  width: 50px;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .page-header__edit img, .page-header__login img, .page-header__password img, .page-header__list img {
    width: 25px;
  }
}
.page-header__edit p, .page-header__login p, .page-header__password p, .page-header__list p {
  font-size: 30px;
  margin: 7px;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .page-header__edit p, .page-header__login p, .page-header__password p, .page-header__list p {
    font-size: 16px;
  }
}

.x-line {
  border-top: 2px solid #6A5849;
  margin: 0 auto;
}
.x-line__fix {
  margin: 60px 0 25px 0;
  border-top: 2px solid #6A5849;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .x-line__fix {
    margin-top: 30px;
  }
}
.x-line__dynamic {
  margin: 40px 0;
  border-top: 2px solid #6A5849;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .x-line__dynamic {
    margin: 30px 0;
  }
}
.x-line__nav {
  margin: 40px 0;
  border-top: 2px solid #6A5849;
}
.x-line__edit, .x-line__login, .x-line__password, .x-line__list {
  margin: 30px auto 50px auto;
  border-top: 2px solid #6A5849;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .x-line__edit, .x-line__login, .x-line__password, .x-line__list {
    margin: 0 auto 30px auto;
  }
}
.x-line__article-nav {
  margin: 40px 0;
  border-top: 2px solid #6A5849;
}

/* コンテンツ部分 */
.main-content {
  display: flex;
  margin: 55px auto 55px auto;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .main-content {
    display: block;
  }
}
.main-content__aside__profile {
  width: 320px;
  margin-bottom: 20px;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .main-content__aside__profile {
    display: none;
  }
}
.main-content__aside__profile__img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 320px;
}
.main-content__aside__profile__name {
  font-size: 30px;
  text-align: center;
  margin: 10px 0;
}
.main-content__aside__profile__text {
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}
.main-content__aside__profile__sns {
  font-size: 20px;
  color: #5A5A5A;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .main-content__aside__baner {
    display: none;
  }
}
.main-content__article {
  margin-left: 50px;
  /* トップページ */
  /* 記事一覧 */
  /* 画像一覧 */
  /* 記事ページ */
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .main-content__article {
    margin-left: 0;
    margin-top: -32px;
  }
}
.main-content__article__dynamic {
  padding-top: 25px;
}
.main-content__article__home-topic {
  height: 100%;
}
.main-content__article__home-topic__title {
  font-size: 30px;
  margin: 10px 0;
}
.main-content__article__home-topic__title a {
  text-decoration: none;
  color: #000000;
  transition: color 300ms;
}
.main-content__article__home-topic__title a:hover {
  color: #5a5a5a;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .main-content__article__home-topic__title {
    font-size: 18px;
  }
  .main-content__article__home-topic__title p {
    margin-bottom: 5px;
  }
}
.main-content__article__home-topic__content {
  display: flex;
  height: auto;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .main-content__article__home-topic__content {
    display: block;
  }
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .main-content__article__home-topic__content__img {
    width: 52%;
  }
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .main-content__article__home-topic__content__img img {
    width: 100%;
  }
}
.main-content__article__home-topic__content__text {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  font-size: 20px;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .main-content__article__home-topic__content__text {
    font-size: 16px;
    margin-left: 0;
    width: 100%;
  }
}
.main-content__article__home-topic__content__text__topic {
  text-decoration: none;
  color: #5A5A5A;
  transition: color 300ms;
}
.main-content__article__home-topic__content__text__topic:hover {
  color: #000000;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .main-content__article__home-topic__content__text__topic {
    margin-top: 10px;
  }
}
.main-content__article__home-topic__content__text__topic p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
  overflow: hidden;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .main-content__article__home-topic__content__text__topic p {
    -webkit-line-clamp: 6;
  }
}
.main-content__article__home-topic__content__text__status {
  display: flex;
  font-size: 25px;
  color: #5A5A5A;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .main-content__article__home-topic__content__text__status {
    font-size: 16px;
    margin-top: 10px;
  }
}
.main-content__article__home-topic__content__text__status__good {
  display: flex;
  margin-left: 10px;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .main-content__article__home-topic__content__text__status__good img {
    width: 22px;
    height: 22px;
  }
}
.main-content__article__home-topic__content__text__status__good p {
  margin-left: 5px;
}
.main-content__article__list-topic__title {
  font-size: 30px;
  margin: 10px 0;
}
.main-content__article__list-topic__title a {
  text-decoration: none;
  color: #000000;
  transition: color 300ms;
}
.main-content__article__list-topic__title a:hover {
  color: #5a5a5a;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .main-content__article__list-topic__title {
    font-size: 18px;
  }
  .main-content__article__list-topic__title p {
    margin-bottom: 5px;
  }
}
.main-content__article__list-topic__content {
  display: flex;
  height: auto;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .main-content__article__list-topic__content {
    display: block;
  }
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .main-content__article__list-topic__content__img {
    width: 52%;
  }
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .main-content__article__list-topic__content__img img {
    width: 100%;
  }
}
.main-content__article__list-topic__content__text {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  font-size: 20px;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .main-content__article__list-topic__content__text {
    font-size: 16px;
    margin-left: 0;
    width: 100%;
  }
}
.main-content__article__list-topic__content__text__topic {
  text-decoration: none;
  color: #5A5A5A;
  transition: color 300ms;
}
.main-content__article__list-topic__content__text__topic:hover {
  color: #000000;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .main-content__article__list-topic__content__text__topic {
    margin-top: 10px;
  }
}
.main-content__article__list-topic__content__text__topic p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
  overflow: hidden;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .main-content__article__list-topic__content__text__topic p {
    -webkit-line-clamp: 6;
  }
}
.main-content__article__list-topic__content__text__status {
  display: flex;
  font-size: 25px;
  color: #5A5A5A;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .main-content__article__list-topic__content__text__status {
    font-size: 16px;
    margin-top: 10px;
  }
}
.main-content__article__list-topic__content__text__status__good {
  display: flex;
  margin-left: 10px;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .main-content__article__list-topic__content__text__status__good img {
    width: 22px;
    height: 22px;
  }
}
.main-content__article__list-topic__content__text__status__good p {
  margin-left: 5px;
}
.main-content__article__image-topic {
  display: grid;
  overflow-y: scroll;
  width: 893px;
  gap: 31px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.main-content__article__image-topic img {
  width: 100%;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .main-content__article__image-topic {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    width: auto;
    gap: 10px;
    margin-top: -32px;
  }
}
.main-content__article__single-topic {
  width: 890px;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .main-content__article__single-topic {
    width: auto;
  }
}
.main-content__article__single-topic__title {
  font-size: 35px;
  margin-bottom: 20px;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .main-content__article__single-topic__title {
    font-size: 18px;
  }
}
.main-content__article__single-topic__content__img {
  width: 100%;
  margin-bottom: 50px;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .main-content__article__single-topic__content__img {
    margin-bottom: 25px;
  }
}
.main-content__article__single-topic__content__text {
  font-size: 32px;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .main-content__article__single-topic__content__text {
    font-size: 16px;
  }
}
.main-content__article__single-topic__content__text p {
  margin-bottom: 50px;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .main-content__article__single-topic__content__text p {
    margin-bottom: 25px;
  }
}
.main-content__article__single-topic__content__text__status {
  display: flex;
  color: #5A5A5A;
  height: 38px;
  font-size: 25px;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .main-content__article__single-topic__content__text__status {
    font-size: 16px;
  }
}
.main-content__article__single-topic__content__text__status__good {
  display: flex;
  margin-left: 10px;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .main-content__article__single-topic__content__text__status__good img {
    width: 22px;
    height: 22px;
  }
}
.main-content__article__single-topic__content__text__status__good p {
  margin-left: 5px;
}
.main-content__article__page-button {
  background-color: #95a296;
  color: #ffffff;
  height: 74px;
  width: 222px;
  border-radius: 15px;
  font-size: 24px;
  display: block;
  margin: 100px auto 100px auto;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .main-content__article__page-button {
    height: 50px;
    width: 151px;
    font-size: 16px;
    margin: 40px auto 40px auto;
  }
}
.main-content__article__single-button {
  margin: 100px auto 150px auto;
  text-align: center;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .main-content__article__single-button {
    margin: 20px auto 60px auto;
    height: auto;
  }
}
.main-content__article__single-button__back-button, .main-content__article__single-button__next-button {
  color: #ffffff;
  background-color: #95a296;
  height: 74px;
  width: 222px;
  border-radius: 15px;
  font-size: 24px;
  margin: 0 21px;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .main-content__article__single-button__back-button, .main-content__article__single-button__next-button {
    height: 50px;
    width: 151px;
    font-size: 16px;
    margin: 0 10px 0 10px;
  }
}
.main-content__article__nav {
  list-style: none;
  text-align: center;
  margin: 45px auto;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .main-content__article__nav {
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center;
  }
}
.main-content__article__nav__list {
  font-size: 20px;
  display: inline-block;
  margin-right: 25px;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .main-content__article__nav__list {
    padding-top: 20px;
    margin-right: 20px;
  }
}
.main-content__article__nav__list:last-child { /* menuナビの一番後ろに入れる装飾 */
  margin-right: 0px;
}
.main-content__article__nav__list img {
  margin-right: 5px;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .main-content__article__nav__list img {
    display: none;
  }
}
.main-content__article__nav__list p {
  display: inline-block;
  position: relative;
  bottom: 10px;
  color: #000000;
  transition: color 300ms;
}
.main-content__article__nav__list p:hover {
  color: #5a5a5a;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .main-content__article__nav__list p {
    font-size: 16px;
  }
}

/* プロフィール */
.sns-link {
  text-decoration: none;
  color: #5A5A5A;
  transition: color 300ms;
}
.sns-link:hover {
  color: #000000;
}

/* ログイン */
.login-content {
  padding: 56px 0 150px 0;
  min-width: 493px;
  max-width: 493px;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .login-content {
    padding: 30px 0 40px 0;
    max-width: 300px;
    min-width: 300px;
  }
}
.login-content__username, .login-content__password {
  background-color: #ffffff;
  border: 1px solid #707070;
  margin-bottom: 15px;
  text-align: left;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .login-content__username, .login-content__password {
    font-size: 10px;
    margin-bottom: 10px;
  }
}
.login-content__username {
  padding: 15px 0 15px 10px;
  max-width: 439px;
  max-height: 60px;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .login-content__username {
    height: 35px;
    padding: 10px 0 10px 10px;
    max-width: 300px;
    max-height: 35px;
  }
}
.login-content__username-save {
  display: flex;
  position: relative;
  margin: 0 0 30px 30px;
  padding-left: 5px;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .login-content__username-save {
    margin: 0 0 10px 0;
    padding-left: 0;
  }
}
.login-content__username-save__text {
  position: absolute;
  font-size: 20px;
  color: #5A5A5A;
  left: 35px;
  top: -3px;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .login-content__username-save__text {
    font-size: 10px;
    padding-left: 20px;
    top: 3px;
  }
}
.login-content__password {
  padding: 15px 0 15px 10px;
  max-width: 439px;
  max-height: 60px;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .login-content__password {
    height: 35px;
    padding: 10px 0 10px 10px;
    max-width: 300px;
    max-height: 35px;
  }
}
.login-content__password-save {
  display: flex;
  position: relative;
  margin: 0 0 30px 30px;
  padding-left: 5px;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .login-content__password-save {
    margin: 0;
    padding-left: 0;
  }
}
.login-content__password-save__text {
  position: absolute;
  font-size: 20px;
  color: #5A5A5A;
  left: 35px;
  top: -3px;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .login-content__password-save__text {
    font-size: 10px;
    padding-left: 20px;
    top: 3px;
  }
}
.login-content__page-button {
  background-color: #5a5a5a;
  height: 74px;
  width: 222px;
  border-radius: 25px;
  font-size: 24px;
  display: block;
  margin: 50px auto 0 auto;
  border: 1px solid #ffffff;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .login-content__page-button {
    height: 50px;
    width: 140px;
    font-size: 16px;
    margin: 35px auto 0 auto;
  }
}
.login-content__page-button a {
  text-decoration: none;
  color: #ffffff;
}
.login-content__password-forget {
  margin: 20px 0 0 0;
  text-align: left;
  padding-left: 25px;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .login-content__password-forget {
    padding-left: 0;
    margin: 10px 0 40px 0;
  }
}
.login-content__password-forget a {
  text-decoration: none;
}
.login-content__password-forget p {
  font-size: 20px;
  color: #5A5A5A;
  transition: color 300ms;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .login-content__password-forget p {
    font-size: 10px;
  }
}
.login-content__password-forget p:hover {
  color: #000000;
}

/* パスワード再設定 */
.password-content {
  padding: 56px 0 160px 0;
  min-width: 547px;
  max-width: 547px;
  position: relative;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .password-content {
    padding: 30px 0 40px 0;
    max-width: 300px;
    min-width: 300px;
  }
}
.password-content__explane {
  background-color: #ffffff;
  width: 547px;
  height: 108px;
  border-radius: 10px;
  font-size: 20px;
}
.password-content__explane p {
  padding: 10px 0 0 10px;
  text-align: left;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .password-content__explane {
    width: 277px;
    height: 65px;
    font-size: 10px;
    margin: 0 auto;
  }
}
.password-content__email {
  margin-top: 30px;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .password-content__email {
    margin-top: 20px;
  }
}
.password-content__email__email {
  background-color: #ffffff;
  border: 1px solid #707070;
  margin: 0 auto;
  text-align: left;
  font-size: 20px;
  padding: 15px 0 15px 10px;
  max-width: 493px;
  max-height: 60px;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .password-content__email__email {
    font-size: 10px;
    height: 35px;
    padding: 10px 0 10px 10px;
    max-width: 300px;
    max-height: 35px;
  }
}
.password-content__email__worning {
  margin: 5px 0 40px 0;
  text-align: left;
  padding-left: 37px;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .password-content__email__worning {
    padding-left: 10px;
    margin: 5px 0 40px 0;
  }
}
.password-content__email__worning a {
  text-decoration: none;
}
.password-content__email__worning p {
  font-size: 16px;
  color: #5A5A5A;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .password-content__email__worning p {
    font-size: 10px;
  }
}
.password-content__page-button {
  background-color: #5a5a5a;
  color: #ffffff;
  height: 74px;
  width: 222px;
  border-radius: 25px;
  font-size: 24px;
  display: block;
  margin: 50px auto 0 auto;
  border: 1px solid #ffffff;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .password-content__page-button {
    height: 50px;
    width: 140px;
    font-size: 16px;
    margin: 40px auto 0 auto;
  }
}

/* 記事一覧 */
.list-content {
  padding: 56px 0 160px 0;
  max-width: 1260px;
  position: relative;
}
.list-content a {
  text-decoration: none;
  color: #000000;
  transition: color 300ms;
}
.list-content a:hover {
  color: #5a5a5a;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .list-content {
    padding: 20px 0 40px 0;
    max-width: 580px;
  }
}
.list-content__list {
  text-align: left;
  /* ヘッダ */
  /* 中身 */
}
.list-content__list table {
  border-collapse: collapse; /*セル同士の間に隙間を空けない*/
  margin: 0 auto;
}
.list-content__list th {
  font-size: 25px;
  text-align: left;
  font-weight: lighter;
  color: #ffffff;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .list-content__list th {
    font-size: 13px;
  }
}
.list-content__list th:nth-child(2) {
  width: 180px;
  padding-left: 10px;
}
.list-content__list th:nth-child(3) {
  width: 180px;
}
.list-content__list th:nth-child(4) {
  width: 130px;
}
.list-content__list th:nth-child(5) {
  width: 156px;
}
.list-content__list th:nth-child(6) {
  width: 556px;
}
.list-content__list td {
  vertical-align: top;
  font-size: 20px;
  padding: 10px 10px 10px 0;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .list-content__list td {
    font-size: 10px;
  }
}
.list-content__list td p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .list-content__list td p {
    -webkit-line-clamp: 6;
  }
}
.list-content__list td:nth-child(1) {
  height: 150px;
  padding-right: 20px;
  background-color: #BAC9BC;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .list-content__list td:nth-child(1) {
    padding-right: 15px;
    height: 100px;
  }
}
.list-content__list td:nth-child(2) {
  padding-left: 10px;
}
.list-content__list__list-button {
  margin: 20px auto 0 auto;
  text-align: right;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .list-content__list__list-button {
    margin: 20px auto 0 auto;
  }
}
.list-content__list__list-button a {
  text-decoration: none;
}
.list-content__list__list-button__write-button, .list-content__list__list-button__delete-button {
  color: #ffffff;
  background-color: #5A5A5A;
  height: 55px;
  width: 180px;
  border-radius: 25px;
  border: 1px solid #ffffff;
  font-size: 20px;
  margin-right: 10px;
}
.list-content__list__list-button__write-button img, .list-content__list__list-button__delete-button img {
  height: 30px;
  margin: auto 0;
  vertical-align: middle;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .list-content__list__list-button__write-button img, .list-content__list__list-button__delete-button img {
    height: 15px;
  }
}
.list-content__list__list-button__write-button p, .list-content__list__list-button__delete-button p {
  margin: auto 0;
  display: inline-block;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .list-content__list__list-button__write-button, .list-content__list__list-button__delete-button {
    height: 40px;
    width: 110px;
    font-size: 12px;
    margin: 0 5px 0 5px;
  }
}

/* 削除時 */
.none {
  display: none;
}

/* 記事投稿 */
.edit-content {
  padding-top: 56px;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .edit-content {
    padding-top: 30px;
  }
}
.edit-content__title, .edit-content__topic, .edit-content__image, .edit-content__tag {
  background-color: #ffffff;
  border: 1px solid #707070;
  margin-bottom: 30px;
  text-align: left;
  font-size: 20px;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .edit-content__title, .edit-content__topic, .edit-content__image, .edit-content__tag {
    font-size: 10px;
    margin-bottom: 20px;
  }
}
.edit-content__title {
  padding: 15px 0 15px 10px;
  max-width: 439px;
  max-height: 60px;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .edit-content__title {
    height: 35px;
    padding: 10px 0 10px 10px;
  }
}
.edit-content__topic {
  padding: 15px 0 15px 10px;
  height: 400px;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .edit-content__topic {
    height: 200px;
    padding: 10px 0 10px 10px;
  }
}
.edit-content__topic textarea {
  width: 98%;
}
.edit-content__image {
  display: flex;
  border-radius: 25px;
  width: 180px;
  height: 65px;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .edit-content__image {
    height: 30px;
    width: 83px;
  }
}
.edit-content__image img {
  margin: auto 15px;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .edit-content__image img {
    height: 15px;
    margin: auto 5px;
  }
}
.edit-content__image p {
  margin: auto 0;
  color: gray;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .edit-content__image p {
    font-size: 10px;
  }
}
.edit-content__selectimg {
  display: none;
  margin-bottom: 30px;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .edit-content__selectimg {
    margin-bottom: 20px;
  }
}
.edit-content__selectimg img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  max-width: 216px;
  min-width: 216px;
  grid-template-columns: repeat(auto-fill, minmax(216px, 1fr));
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .edit-content__selectimg img {
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    height: 100px;
    max-width: 110px;
    min-width: 110px;
  }
}
.edit-content__tag {
  padding: 15px 0 15px 10px;
  max-width: 439px;
  max-height: 60px;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .edit-content__tag {
    height: 35px;
    padding: 10px 0 10px 10px;
  }
}
.edit-content__save {
  margin: 110px auto 0 auto;
  padding-bottom: 160px;
  text-align: center;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .edit-content__save {
    margin: 40px auto 0 auto;
    padding-bottom: 40px;
  }
}
.edit-content__save__pre, .edit-content__save__post {
  color: #ffffff;
  background-color: #5a5a5a;
  border: 1px solid #ffffff;
  height: 65px;
  width: 180px;
  border-radius: 25px;
  font-size: 24px;
  margin: 0 21px;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .edit-content__save__pre, .edit-content__save__post {
    height: 50px;
    width: 140px;
    font-size: 16px;
    margin: 0 5px;
  }
}

.background {
  width: 100%;
  background-color: #BAC9BC;
  text-align: center;
}

.show {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(216px, 1fr));
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .show {
    grid-template-columns: repeat(auto-fill, minmax(116px, 1fr));
  }
}

.hide {
  display: none;
}

/* フッター */
.footer {
  margin-top: 45px;
  height: 150px;
  background-color: #95A296;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .footer {
    height: 100px;
  }
}
.footer__copy {
  color: #ffffff;
  text-align: center;
  padding-top: 60px;
  font-size: 25px;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .footer__copy {
    font-size: 16px;
    padding-top: 40px;
  }
}

@media screen and (min-width: 0px) and (max-width: 1280px) {
  .footer-nav {
    font-size: 16px;
  }
}

/* PageTopボタン */
.page-top {
  transition: opacity 1s;
  transition-duration: 1000ms;
  visibility: hidden;
  opacity: 0;
}

.page-top.is-fadein {
  visibility: visible;
  opacity: 1;
}

.arrow {
  position: fixed;
  right: 12px;
  bottom: 12px;
  cursor: pointer; /* ホバーした時にポインタがどうなるか */
  background-color: #7F9680;
  border-radius: 22px;
  padding: 20px;
  transition: all 0.2s ease-in-out;
}

.arrow:hover {
  opacity: 0.8;
  bottom: 15px;
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.5);
}

.arrow:before,
.arrow:after {
  content: ""; /* 入れないと白線が消える */
  width: 12px;
  height: 12px;
  border-top: solid 3px #fff;
  border-right: solid 3px #fff;
  transform: rotate(-45deg); /* 回転 */
  position: absolute;
  left: 14px;
}

.arrow:before {
  top: 11px;
}

.arrow:after {
  top: 21px;
}

/* バナー */
.banner {
  display: none;
  position: fixed;
  left: -100%;
  bottom: 12px;
  transition: 0.5s;
}
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .banner {
    display: block;
  }
}
.banner__img img {
  width: 50%;
}
.banner__delete-btn {
  position: relative;
  top: -5px;
  left: 49%;
}
.banner__delete-btn span {
  display: flex;
  width: 20px;
  height: 2px;
  background-color: #525252;
  position: relative;
}
.banner__delete-btn span:nth-child(1) {
  top: 2px;
  transform: rotate(45deg);
}
.banner__delete-btn span:nth-child(2) {
  transform: rotate(-45deg);
}

.banner-in {
  left: 12px;
}

.delete {
  display: none;
}/*# sourceMappingURL=style.css.map */