@import './mixin';

/* 包括部分 */
body {
    font-family: "メイリオ", "Meiryo","Yu Gothic Medium","游ゴシック Medium","Yugothic","游ゴシック体","ヒラギノ角ゴ Pro W3", sans-serif;
}
.wrapper {
    max-width: 1260px;
    margin: 0 auto;
    @include sp {
        max-width: 580px;
        width: 94%;
    }
}
/* 灰色文字 */
.gray-text {
    font-size: 20px;
    color: #5a5a5a;
    margin-top: -30px;
    @include sp {
        font-size: 14px;
        margin-bottom: 5px;
    }
}
/* 縦並び */
.block {
    display: block;
    text-align: left;
}
/* チェックボックス */
input[type=checkbox] {
    transform: scale(2);
    margin: 0 6px 0 0;
    @include sp {
        transform: scale(1);
    }
}
/* テーブル */
tbody {
    &:nth-child(even) {
        background-color: #ffffff;
    }
    &:nth-child(odd) {
        background-color: #DEDEDE;
    }
}
/* ヘッダー部分 */
.page-header {
    text-align: center;
    &__img {
        width: 100%;
    }
    &__profile {
        display: none;
        align-items: flex-end;
        @include sp {
            display: flex;
            margin-top: 30px;
            &__img {
                width: 82px;
                height: 82px;
                vertical-align: top;
            }
            &__name {
                font-size: 16px;
                margin-left: 2vw;
            }
            &__text {
                font-size: 10px;
                margin-left: 2vw;
            }
            &__sns {
                font-size: 10px;
                text-align: left;
                margin-left: 2vw;
            }
        }
    }
    &__nav {
        list-style: none;
        margin: 45px auto;
        @include sp {
            margin-top: 20px;
            margin-bottom: 5px;
            text-align: left;
            height: 12px;
        }
        &__list {
            font-size: 20px;
            display: inline-block;
            margin-right: 25px;
            @include sp {
                margin-right: 10px;
            }
            /* menuナビの一番後ろに入れる装飾 */   
            &:last-child{
                margin-right: 0px;
            }
            img {
                margin-right: 5px;
                @include sp {
                    display: none;
                }
            }
            p {
                display: inline-block;
                position: relative;
                bottom: 10px;
                color: #000000;
                transition: color 300ms;
                &:hover {
                    color:#5a5a5a
                }
                @include sp {
                    font-size: 14px;
                }
            }
        }
    }
    &__edit, &__login, &__password, &__list {
        display: flex;
        justify-content: center;
        margin: 30px 0;
        @include sp {
            margin: 15px 0 10px 0;
        }
        img {
            width: 50px;
            @include sp {
                width: 25px;
            }
        }
        p {
            font-size: 30px;
            margin: 7px;
            @include sp {
                font-size: 16px;
            }
        }
    }
}
.x-line {
    border-top: 2px solid #6A5849;
    margin: 0 auto;
    &__fix {
        margin: 60px 0 25px 0;
        border-top: 2px solid #6A5849;
        @include sp {
            margin-top: 30px;
        }
    }
    &__dynamic {
        margin: 40px 0;
        border-top: 2px solid #6A5849;
        @include sp {
            margin: 30px 0;
        }
    }
    &__nav {
        margin: 40px 0;
        border-top: 2px solid #6A5849;
    }
    &__edit, &__login, &__password, &__list {
        margin: 30px auto 50px auto;
        border-top: 2px solid #6A5849;
        @include sp {
            margin: 0 auto 30px auto;
        }
    }
    &__article-nav {
        margin: 40px 0;
        border-top: 2px solid #6A5849;
    }
}
/* コンテンツ部分 */
.main-content {
    display: flex;
    margin: 55px auto 55px auto;
    @include sp {
        display: block;
    }
    &__aside {
        &__profile {
            width: 320px;
            margin-bottom: 20px;
            @include sp {
                display: none;
            }
            &__img {
                display: block;
                margin-right: auto;
                margin-left: auto;
                height: 320px;
            }
            &__name {
                font-size: 30px;
                text-align: center;
                margin: 10px 0;
            }
            &__text {
                font-size: 20px;
                text-align: center;
                margin-bottom: 20px;
            }
            &__sns {
                font-size: 20px;
                color: #5A5A5A;
            }
        }
        &__baner {
            @include sp {
                display: none;
            }
        }
    }
    &__article {
        margin-left: 50px;
        @include sp {
            margin-left: 0;
            margin-top: -32px;
        }
        /* トップページ */
        &__dynamic {
            padding-top: 25px;
        }
        &__home-topic {
            height: 100%;
            &__title {
                font-size: 30px;
                margin: 10px 0;
                a {
                    text-decoration: none;  
                    color: #000000;
                    transition: color 300ms;
                    &:hover {
                        color: #5a5a5a;
                    }
                }
                @include sp {
                    font-size: 18px;
                    p {
                        margin-bottom: 5px;
                    }
                }
            }
            &__content {
                display: flex;
                height: auto;
                @include sp {
                    display: block;
                }
                &__img {
                    @include sp {
                        width: 52%;
                    }
                    img {
                        @include sp {
                            width: 100%;
                        }
                    }
                }
                &__text {
                    margin-left: 30px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: auto;
                    font-size: 20px;
                    @include sp {
                        font-size: 16px;
                        margin-left: 0;
                        width: 100%;
                    }
                    &__topic {
                        text-decoration: none;
                        color: #5A5A5A;
                        transition: color 300ms;
                        &:hover {
                            color: #000000;
                        }
                        @include sp {
                            margin-top: 10px;
                        }
                        p {
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 10;
                            overflow: hidden;
                            @include sp {
                                -webkit-line-clamp: 6;
                            }
                        }
                    }
                    &__status {
                        display: flex;
                        font-size: 25px;
                        color: #5A5A5A;
                        @include sp {
                            font-size: 16px;
                            margin-top: 10px;
                        }
                        &__good {
                            display: flex;
                            margin-left: 10px;
                            img {
                                @include sp {
                                    width: 22px;
                                    height: 22px;
                                }
                            }
                            p {
                                margin-left: 5px;
                            }
                        }
                    }
                }
            }
        }
        /* 記事一覧 */
        &__list-topic {
            &__title {
                font-size: 30px;
                margin: 10px 0;
                a {
                    text-decoration: none;  
                    color: #000000;
                    transition: color 300ms;
                    &:hover {
                        color: #5a5a5a;
                    }
                }
                @include sp {
                    font-size: 18px;
                    p {
                        margin-bottom: 5px;
                    }
                }
            }
            &__content {
                display: flex;
                height: auto;
                @include sp {
                    display: block;
                }
                &__img {
                    @include sp {
                        width: 52%;
                    }
                    img {
                        @include sp {
                            width: 100%;
                        }
                    }
                }
                &__text {
                    margin-left: 30px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: auto;
                    font-size: 20px;
                    @include sp {
                        font-size: 16px;
                        margin-left: 0;
                        width: 100%;
                    }
                    &__topic {
                        text-decoration: none;
                        color: #5A5A5A;
                        transition: color 300ms;
                        &:hover {
                            color: #000000;
                        }
                        @include sp {
                            margin-top: 10px;
                        }
                        p {
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 10;
                            overflow: hidden;
                            @include sp {
                                -webkit-line-clamp: 6;
                            }
                        }
                    }
                    &__status {
                        display: flex;
                        font-size: 25px;
                        color: #5A5A5A;
                        @include sp {
                            font-size: 16px;
                            margin-top: 10px;
                        }
                        &__good {
                            display: flex;
                            margin-left: 10px;
                            img {
                                @include sp {
                                    width: 22px;
                                    height: 22px;
                                }
                            }
                            p {
                                margin-left: 5px;
                            }
                        }
                    }
                }
            }
        }
        /* 画像一覧 */
        &__image-topic {
            display: grid;
            overflow-y: scroll;
            width: 893px;
            gap: 31px;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            img {
                width: 100%;
            }
            @include sp {
                grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
                width: auto;
                gap: 10px;
                margin-top: -32px;
            }
        }
        /* 記事ページ */
        &__single-topic {
            width: 890px;
            @include sp {
                width: auto;
            }
            &__title {
                font-size: 35px;
                margin-bottom: 20px;
                @include sp {
                    font-size: 18px;
                }
            }
            &__content {
                &__img {
                    width: 100%;
                    margin-bottom: 50px;
                    @include sp {
                        margin-bottom: 25px;
                    }
                }
                &__text {
                    font-size: 32px;
                    @include sp {
                        font-size: 16px;
                    }
                    p {
                        margin-bottom: 50px;
                        @include sp {
                            margin-bottom: 25px;
                        }
                    }
                    &__status {
                        display: flex;
                        color: #5A5A5A;
                        height: 38px;
                        font-size: 25px;
                        @include sp {
                            font-size: 16px;
                        }
                        &__good {
                            display: flex;
                            margin-left: 10px;
                            img {
                                @include sp {
                                    width: 22px;
                                    height: 22px;
                                }
                            }
                            p {
                                margin-left: 5px;
                            }
                        }
                    }
                }
            }
        }
        &__page-button {
            background-color: #95a296;
            color: #ffffff;
            height: 74px;
            width: 222px;
            border-radius: 15px;
            font-size: 24px;
            display: block;
            margin: 100px auto 100px auto;
            @include sp {
                height: 50px;
                width: 151px;
                font-size: 16px;
                margin: 40px auto 40px auto;
            }
        }
        &__single-button {
            margin: 100px auto 150px auto;
            text-align: center;
            @include sp {
                margin: 20px auto 60px auto;
                height: auto;
            }
            &__back-button, &__next-button {
                color: #ffffff;
                background-color: #95a296;
                height: 74px;
                width: 222px;
                border-radius: 15px;
                font-size: 24px;
                margin: 0 21px;
                @include sp {
                    height: 50px;
                    width: 151px;
                    font-size: 16px;
                    margin: 0 10px 0 10px;
                }
            }
        }
        &__nav {
            list-style: none;
            text-align: center;
            margin: 45px auto;
            @include sp {
                margin-top: 20px;
                margin-bottom: 5px;
                text-align: center;
            }
            &__list {
                font-size: 20px;
                display: inline-block;
                margin-right: 25px;
                @include sp {
                    padding-top: 20px;
                    margin-right: 20px;
                }
                &:last-child{                   /* menuナビの一番後ろに入れる装飾 */
                    margin-right: 0px;
                }
                img {
                    margin-right: 5px;
                    @include sp {
                        display: none;
                    }
                }
                p {
                    display: inline-block;
                    position: relative;
                    bottom: 10px;
                    color: #000000;
                    transition: color 300ms;
                    &:hover {
                        color:#5a5a5a
                    }
                    @include sp {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}
/* プロフィール */
.sns-link {
    text-decoration: none;
    color: #5A5A5A;
    transition: color 300ms;
    &:hover {
        color: #000000;
    }
}

/* ログイン */
.login-content {
    padding: 56px 0 150px 0;
    min-width: 493px;
    max-width: 493px;
    @include sp {
        padding: 30px 0 40px 0;
        max-width: 300px;
        min-width: 300px;
    }
    &__username,&__password{
        background-color: #ffffff;
        border: 1px solid #707070;
        margin-bottom: 15px;
        text-align: left;
        font-size: 20px;
        margin-left: auto;
        margin-right: auto;
        @include sp {
            font-size: 10px;
            margin-bottom: 10px;
        }
    }
    &__username {
        padding: 15px 0 15px 10px;
        max-width: 439px;
        max-height: 60px;
        @include sp {
            height: 35px;
            padding: 10px 0 10px 10px;
            max-width: 300px;
            max-height: 35px;
        }
    }
    &__username-save {
        display: flex;
        position: relative;
        margin: 0 0 30px 30px;
        padding-left: 5px;
        @include sp {
            margin: 0 0 10px 0;
            padding-left: 0;
        }
        &__text {
            position: absolute;
            font-size: 20px;
            color: #5A5A5A;
            left: 35px;
            top: -3px;
            @include sp {
                font-size: 10px;
                padding-left: 20px;
                top: 3px;
            }
        }
    }
    &__password {
        padding: 15px 0 15px 10px;
        max-width: 439px;
        max-height: 60px;
        @include sp {
            height: 35px;
            padding: 10px 0 10px 10px;
            max-width: 300px;
            max-height: 35px;
        }
    }
    &__password-save {
        display: flex;
        position: relative;
        margin: 0 0 30px 30px;
        padding-left: 5px;
        @include sp {
            margin: 0;
            padding-left: 0;
        }
        &__text {
            position: absolute;
            font-size: 20px;
            color: #5A5A5A;
            left: 35px;
            top: -3px;
            @include sp {
                font-size: 10px;
                padding-left: 20px;
                top: 3px;
            }
        }
    }
    &__page-button {
        background-color: #5a5a5a;
        height: 74px;
        width: 222px;
        border-radius: 25px;
        font-size: 24px;
        display: block;
        margin: 50px auto 0 auto;
        border: 1px solid #ffffff;
        @include sp {
            height: 50px;
            width: 140px;
            font-size: 16px;
            margin: 35px auto 0 auto;
        }
        a {
            text-decoration: none;
            color: #ffffff;
        }
    }
    &__password-forget {
        margin: 20px 0 0 0;
        text-align: left;
        padding-left: 25px;
        @include sp {
            padding-left: 0;
            margin: 10px 0 40px 0;
        }
        a {
            text-decoration: none;
        }
        p {
            font-size: 20px;
            color: #5A5A5A;
            transition: color 300ms;
            @include sp {
                font-size: 10px;
            }
            &:hover {
                color: #000000;
            }
        }
    }
}

/* パスワード再設定 */
.password-content {
    padding: 56px 0 160px 0;
    min-width: 547px;
    max-width: 547px;
    position: relative;
    @include sp {
        padding: 30px 0 40px 0;
        max-width: 300px;
        min-width: 300px;
    }
    &__explane {
        background-color: #ffffff;
        width: 547px;
        height: 108px;
        border-radius: 10px;
        font-size: 20px;
        p {
            padding: 10px 0 0 10px;
            text-align: left;
        }
        @include sp {
            width: 277px;
            height: 65px;
            font-size: 10px;
            margin: 0 auto;
        }
    }
    &__email {
        margin-top: 30px;
        @include sp {
            margin-top: 20px;
        }
        &__email {
            background-color: #ffffff;
            border: 1px solid #707070;
            margin: 0 auto ;
            text-align: left;
            font-size: 20px;
            padding: 15px 0 15px 10px;
            max-width: 493px;
            max-height: 60px;
            @include sp {
                font-size: 10px;
                height: 35px;
                padding: 10px 0 10px 10px;
                max-width: 300px;
                max-height: 35px;
            }
        }
        &__worning {
            margin: 5px 0 40px 0;
            text-align: left;
            padding-left: 37px;
            @include sp {
                padding-left: 10px;
                margin: 5px 0 40px 0;
            }
            a {
                text-decoration: none;
            }
            p {
                font-size: 16px;
                color: #5A5A5A;
                @include sp {
                    font-size: 10px;
                }
            }
        }
    }
    &__page-button {
        background-color: #5a5a5a;
        color: #ffffff;
        height: 74px;
        width: 222px;
        border-radius: 25px;
        font-size: 24px;
        display: block;
        margin: 50px auto 0 auto;
        border: 1px solid #ffffff;
        @include sp {
            height: 50px;
            width: 140px;
            font-size: 16px;
            margin: 40px auto 0 auto;
        }
    }
}

/* 記事一覧 */
.list-content {
    padding: 56px 0 160px 0;
    max-width: 1260px;
    position: relative;
    a {
        text-decoration: none;
        color: #000000;
        transition: color 300ms;
        &:hover {
            color: #5a5a5a;
        }
    }
    @include sp {
        padding: 20px 0 40px 0;
        max-width: 580px;
    }
    &__list {
        text-align: left;
        table {
            border-collapse:collapse;		/*セル同士の間に隙間を空けない*/
            margin: 0 auto;
        }
        /* ヘッダ */
        th {
            font-size: 25px;
            text-align: left;
            font-weight: lighter;
            color: #ffffff;
            @include sp {
                font-size: 13px;
            }
            &:nth-child(2) {
                width: 180px;
                padding-left: 10px;
            }
            &:nth-child(3) {
                width: 180px;
            }
            &:nth-child(4) {
                width: 130px;
            }
            &:nth-child(5) {
                width: 156px;
            }
            &:nth-child(6) {
                width: 556px;
            }
        }
        /* 中身 */
        td {
            vertical-align: top;
            font-size: 20px;
            padding: 10px 10px 10px 0;
            @include sp {
                font-size: 10px;
            }
            p {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 4;
                overflow: hidden;
                @include sp {
                    -webkit-line-clamp: 6;
                }
            }
            &:nth-child(1) {
                height: 150px;
                padding-right: 20px;
                background-color: #BAC9BC;
                @include sp {
                    padding-right: 15px;
                    height: 100px;
                }
            }
            &:nth-child(2) {
                padding-left: 10px;
            }
        }
        &__list-button {
            margin: 20px auto 0 auto;
            text-align: right;
            @include sp {
                margin: 20px auto 0 auto;
            }
            a {
                text-decoration: none;
            }
            &__write-button, &__delete-button {
                color: #ffffff;
                background-color: #5A5A5A;
                height: 55px;
                width: 180px;
                border-radius: 25px;
                border: 1px solid #ffffff;
                font-size: 20px;
                margin-right: 10px;
                img {
                    height: 30px;
                    margin: auto 0;
                    vertical-align:middle;
                    @include sp {
                        height: 15px;
                    }
                }
                p {
                    margin: auto 0;
                    display: inline-block;
                }
                @include sp {
                    height: 40px;
                    width: 110px;
                    font-size: 12px;
                    margin: 0 5px 0 5px;
                }
            }
        }
    }
}
/* 削除時 */
.none {
    display: none;
}

/* 記事投稿 */
.edit-content {
    padding-top: 56px;
    @include sp {
        padding-top: 30px;
    }
    &__title ,&__topic,&__image,&__tag{
        background-color: #ffffff;
        border: 1px solid #707070;
        margin-bottom: 30px;
        text-align: left;
        font-size: 20px;
        @include sp {
            font-size: 10px;
            margin-bottom: 20px;
        }
    }
    &__title {
        padding: 15px 0 15px 10px;
        max-width: 439px;
        max-height: 60px;
        @include sp {
            height: 35px;
            padding: 10px 0 10px 10px;
        }
        
    }
    &__topic {
        padding: 15px 0 15px 10px;
        height: 400px;
        @include sp {
            height: 200px;
            padding: 10px 0 10px 10px;
        }
        textarea {
            width: 98%;
        }
    }
    &__image {
        display: flex;
        border-radius: 25px;
        width: 180px;
        height: 65px;
        @include sp {
            height: 30px;
            width: 83px;
        }
        img {
            margin: auto 15px;
            @include sp {
                height: 15px;
                margin: auto 5px;
            }
        }
        p {
            margin: auto 0;
            color: gray;
            @include sp {
                font-size: 10px;
            }
        }
    }
    &__selectimg {
        display: none;
        margin-bottom: 30px;
        @include sp {
            margin-bottom: 20px;
        }
        img {
            width: 100%;
            height: 180px;
            object-fit: cover;
            max-width: 216px;
            min-width: 216px;
            grid-template-columns: repeat(auto-fill, minmax(216px, 1fr));
            @include sp {
                grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
                height: 100px;
                max-width: 110px;
                min-width: 110px;
            }
        }
    }
    &__tag {
        padding: 15px 0 15px 10px;
        max-width: 439px;
        max-height: 60px;
        @include sp {
            height: 35px;
            padding: 10px 0 10px 10px;
        }
    }
    &__save {
        margin: 110px auto 0 auto;
        padding-bottom: 160px;
        text-align: center;
        @include sp {
            margin: 40px auto 0 auto;
            padding-bottom: 40px;
        }
        &__pre,&__post {
            color: #ffffff;
            background-color: #5a5a5a;
            border: 1px solid #ffffff;
            height: 65px;
            width: 180px;
            border-radius: 25px;
            font-size: 24px;
            margin: 0 21px;
            @include sp {
                height: 50px;
                width: 140px;
                font-size: 16px;
                margin: 0 5px;
            }
        }
    }
}
.background {
    width: 100%;
    background-color: #BAC9BC;
    text-align: center;
}
.show {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(216px, 1fr));
    @include sp {
        grid-template-columns: repeat(auto-fill, minmax(116px, 1fr));
    }
}
.hide {
    display: none;
}
/* フッター */
.footer {
    margin-top: 45px;
    height: 150px;
    background-color: #95A296;
    @include sp {
        height: 100px;
    }
    &__copy {
        color: #ffffff;
        text-align: center;
        padding-top: 60px;
        font-size: 25px;
        @include sp {
            font-size: 16px;
            padding-top: 40px;
        }
    }
}
.footer-nav {
    @include sp {
        font-size: 16px;
    }
}

/* PageTopボタン */
.page-top { 
    transition:opacity 1s;
    transition-duration: 1000ms;
    visibility:hidden;
    opacity:0
}
.page-top.is-fadein { 
    visibility:visible;
    opacity:1
}
.arrow { 
    position:fixed;
    right:12px;
    bottom:12px;
    cursor:pointer;                             /* ホバーした時にポインタがどうなるか */
    background-color:#7F9680;
    border-radius:22px;
    padding:20px;
    transition:all 0.2s ease-in-out
}
.arrow:hover { 
    opacity:.8;
    bottom:15px;
    box-shadow:0 2px 4px 1px rgba(0,0,0,0.5)
}
.arrow:before,
.arrow:after { 
    content:"";                                 /* 入れないと白線が消える */
    width:12px;
    height:12px;
    border-top:solid 3px #fff;
    border-right:solid 3px #fff;
    transform:rotate(-45deg);                   /* 回転 */
    position:absolute;
    left:14px
}
.arrow:before { 
    top:11px
}
.arrow:after {
    top:21px
}

/* バナー */
.banner {
    display: none;
    position: fixed;
    left: -100%;
    bottom: 12px;
    transition: .5s;
    @include sp {
        display: block;
    }
    &__img {
        img {
            width: 50%;
        }
    }
    &__delete-btn {
        position: relative;
        top: -5px;
        left: 49%;
        span {
            display: flex;
            width: 20px;
            height: 2px;
            background-color: #525252;
            position: relative;
        }
        span:nth-child(1){
            top: 2px;
            transform: rotate(45deg);
        }
        span:nth-child(2){
            transform: rotate(-45deg);
        }
    }
}
.banner-in {
    left: 12px;
}
.delete {
    display: none;
}